
SIGNER=""

DEPLOYER=""
PRIVATE_KEY=""

UNISWAP_V2_ROUTER=""

TREASURY=""
DEX_TREASURY=""

RPC=""


#if you want to run scripts
FACTORY_ADDRESS=""
TOKEN_ADDRESS=""
PRIVATE_KEY_SIGNER = ""
VALID_SIGNATURE=""
