# Compiler files
cache/
artifacts/
dependencies/
node_modules/
lib/
bin/
docs/
coverage/
out/
# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/11155111/
/broadcast/**/dry-run/

# Dotenv file
.env
lcov.info