# Compiler files
cache/
out/
dependencies/
lib/
bin/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/11155111/
/broadcast/**/dry-run/
# Docs
docs/
node_modules/

# Dotenv file
.env
.github
.env